* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(215, 28%, 17%);
  max-width: 550px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.1875rem;
}

.info {
  font-size: 1.25rem;
  line-height: 28px;
}

.info p {
  color: #d5d4d8;
  margin-block-start: 0;
}

.info h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.025em;
  max-width: 360px;
  line-height: 40px;
  margin-block-end: 1rem;
}

.info span {
  color: #4adf86;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.actions button {
  background-color: #10b981;
  color: #ffffff;
  padding: 0.5625rem 0.9375rem;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
}

.actions input {
  width: 40px;
  height: 20px;
}

.passwords {
  padding: 2.1875rem 0;
  border-top: 1px solid #2f3e53;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.passwords div {
  min-width: 180px;
  min-height: 2.5rem;
  background-color: #273549;
  border-radius: 6px;
  padding: 0.25rem 1rem;
}

.passwords p {
  color: #55f991;
  line-height: 32px;
  text-align: center;
  margin: 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 650px) {
  .container {
    padding: 3.25rem;
  }
  .passwords p {
    font-size: 1rem;
  }
}
